main{
    min-height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa{
    width: 50%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#caixa h1{
    font-size: 40px;
}

#botao{
    padding: 5px;
    margin-top: 15px;
    border-radius: 15px;
    width: 50%;
    height: 3rem;
    font-size: 30px;
    transition: 0.3s ease-in-out;
}

.corBotao1{
    background-color: gray;
    color: white;
}

.corBotao1:hover{
    background-color: black;
    cursor: pointer;
}

footer{
    min-height: 5vh;
    width: 100vw;
    background-color: gray;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixaPreta{
    background-color: black;
}

.textoBranco{
    color: white;
}

.corBotao2{
    background-color: white;
    color: black;
}

.corBotao2:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}